/* add home page styles here */
.shells {
    display:flex;
    flex-direction: row;
    margin: 40px;
}

.shell {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}

.shell img {
    width: 100%;
    transition: transform 0.5s ease-in-out;
    z-index: 20;
}

.ball {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color:violet;
    display: none;
    position:absolute;
    top: 125px;
}